* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 47px 47px;

    & .nav {
        display: flex;
        gap: 51px;
        align-items: baseline;

        & button {
            background-color: black;
            color: #fff;
            border-radius: 5px;
            padding: 13px 35px;
        }
        & a {
            text-decoration: none;
            color: #6B7280;


        }
        & .selected {
            font-weight: bold;
            color: #000;
        }


         
    }


}

.main{
    display: flex;
    justify-content: space-between;
    padding:60px;

    & .lado-esquerdo{
        width: 653px;
        display: flex;  
        
     & .conteudo{
        width: 653px;
        display: flex;
        flex-direction: column;
        gap: 30px;  

        & h1 {
            font-size: 70px;
            line-height: 80px;
        }

        & p{
            font-size: 25px;
            line-height: 48px;
            color: #1F1F39B2;
        }
     }   
    }

    & img{
        width:500px;
        margin: auto;

    }

    & button{
        background-color: black;
        color: #fff;
        border-radius: 5px;
        padding: 12px 12px;
        width: 150px;
    }

    
}

.portfolio{
    & h2{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 109px;
        gap: 25px;
        max-width: 980px;
        line-height: 60px;
    }
    
    & .cards{
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        padding: 109px 109px;
    }
}